$c-black: #000000;
$c-dark-cyan: #049597;
$c-err-msg: #ff0033;
$c-gray: #585858;
$c-gray-bright: #e5e5e5;
$c-gray-dim: #707070;
$c-white: #ffffff;
$c-white-aluminium: #a5a5a5;
$c-white-indigo: #f2f5f6;

$ff-primary-bold: 'Montserrat-Bold';
$ff-primary-medium: 'Montserrat-Medium';
$ff-primary-regular: 'HelveticaNeue-Regular';
$ff-primary-semi-bold: 'Montserrat-SemiBold';